#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}

body{
	background-image: url(../img/Fondo3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: 'Arvo', serif;
	color: green;
	margin-left: 10px;
	font-size: 60px;
	text-align: center;
}

h2{
	font-family: 'Dosis', sans-serif;
	color: blue;
	margin-left: 0px;
	font-size: 20px;
	text-align: left;
}

ul{
	margin: auto;
	padding-top: 4px;
}

li{
	font-size: 20px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
	background: white;
	color: black;
}

footer{
	width: 1000px;
	height: 50px;
	background: orange;
	float: 30px;
	margin-top: 20px;
	border-radius: 10px;
}

p{
	font-size: 20px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
	background: white;
	color: black;
}